* {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
}

.my_order_main_user_more_details_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: 18px;
    font-weight: 600;
}

.user_name {
    font-size: 15px;
    font-weight: 500;
    color: gray;
}

.my_order_main_user_more_details_div_inner_1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.my_order_main_user_more_details_div_inner_2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.my_order_main_user_more_details_div_inner_3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}